.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.avatar {
  border-radius: 5px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  color: #191919;
  margin: 0;
}

.status {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.online {
  color: #4caf50; /* зелений */
}

.offline {
  color: #f44336; /* червоний */
}
